table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

.NavLink {
    color: white;
    cursor: pointer;
    padding: 0px 5px;
    background-color: gray;
    font-size: 16pt;
    margin-right: 10px;
}

.postTitle {
    cursor:pointer;
    color:blue;
}